<!DOCTYPE html>
<html>
   <head>
      <title>Welcome to Ansible on {{ansible_facts.fqdn}}.</title>
   </head>
   <body>
    <h1>Welcome to Ansible {{ansible_facts.fqdn}}.</h1>
    <img alt="Qries" src="https://www.redhat.com/cms/managed-files/Logo-redhat-color-375.png" width=375">
   </body>
</html>
